#IDE
*.idea

# Pycache
*__pycache__

# checkpoints
**/.ipynb_checkpoints/

# Temporary Files for personal purposes
commands.txt
*.sh

# CONFIG
config.json

# Data, Predictions
DFUTissue/*
DFUTissue*
logs
output*

